@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Список сообщений</h1>
<ul>
    @foreach (var messages in Model.Messages)
    {
        <li>@messages.User.FirstName написал(а): "@messages.Message" в @messages.MessageDate</li>
    }
</ul>
