@page
@model GuestBookRazorPages.Pages.GuestBook.loginModel

<h1>Logon</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="login.Login" class="control-label"></label>
                <input asp-for="login.Login"  class="form-control" />
                <span asp-validation-for="login.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login.Password" class="control-label"></label>
                <input asp-for="login.Password"  class="form-control" />
                <span asp-validation-for="login.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>